{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">PROTEIN KINASES</h1>
        <p class="lead">Protein kinases are a class of proteins that modify other proteins (or themselves) by chemically
            adding phosphoryl groups to them through a process called phosphorylation.
            Many proteins have locations along their length at which phosphorylation can occur –
            these are called phosphorylation sites or phosphosites.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h2><span>Kinase or Protein Search</span></h2>
                        <p>Explore background information about human protein kinases and the sites they phosphorylate.</p>
                        <div class="row">
                            <div class="col">
                                <form id="search" action="{{ url_for('searchResults') }}" method="POST">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="input-group mb-3">
                                                <select class="custom-select" name="selectSearchCategory">
                                                    <option selected value="1">Kinase</option>
                                                    <option value="2">Substrate</option>
                                                    <option value="3">Inhibitor</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="input-group mb-3">
                                                <input name="searchString" type="text" class="form-control" placeholder="Name..." aria-label="Name..." aria-describedby="basic-addon2">

                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2><span>Kinase Activity Analysis</span></h2>
                        <p>Find level of activity of each human kinase using your own experimental datasets.</p>
                        <div class="row">
                                <div class="input-group mb-3 center-block">


                                      <a class="form-control" href="{{ url_for('upload_file') }}" role="button">Kinase activity analysis</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
