{% extends "base.html" %}

{% block content %}
<div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1><span class="text-primary">Protein </span> kinases</h1>
        <p 
        class="lead">Protein kinases are a class of proteins that modify other proteins (or themselves) by chemically adding phosphoryl groups to them through a process called phosphorylation. Many proteins have locations along their length at which phosphorylation can occur – these are called phosphorylation sites or phosphosites.</p>

        <div class="box bg-light">
          <h3>human protein kinases</h3>
          <p>Explore background information about human protein kinases and the sites they phosphorylate.</p>
          <a class="btn" href="about.html">Explore</a>
        </div>
        <div class="box bg-primary">
            <h3>Activity</h3>
            <p>Find level of activity of each human kinase using your own experimental datasets.</p>
            <a class="btn" href="about.html">Start Here</a>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block form_section %}
    <div class="info-img" style="background:url(/static/home.jpg) center / cover no-repeat;"></div>
    <div class="info-content">
      <h2><span class="text-primary">Kinase</span> or Phosphorylation Search</h2>
      <form id="contact-form" class="form-inline">

        <div class="select-box">
          <label for="select-box1" class="label select-box1"><span class="label-desc">Choose Options</span> </label>
          <select id="select-box1" class="select">
            <option value="Choice 1">Kinase Name</option>
            <option value="Choice 2">Substrate of</option>
          </select>
        </div>
				
				<div class="form-group mx-sm-3 mb-2">
					<label for="protein" class="sr-only">Protein</label>
					<input type="text" class="form-control" id="protein" placeholder="Protein">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Search</button>
			</form>
    </div>
{% endblock %}