{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">PROTEIN KINASES</h1>
        <p class="lead">Protein kinases are a class of proteins that modify other proteins (or themselves) by chemically 
            adding phosphoryl groups to them through a process called phosphorylation. 
            Many proteins have locations along their length at which phosphorylation can occur – 
            these are called phosphorylation sites or phosphosites.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2><span>Kinase or Protein Search</span></h2>
                        <p>Explore background information about human protein kinases and the sites they phosphorylate.</p>
                        <div class="row">
                            <div class="col-5">
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected value="1">Protein Name</option>
                                      <option value="2">Kinase Name</option>
                                      <option value="3">Gene Name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-7">
                                <form id="search" action="{{ url_for('searchResults') }}" method="POST">
                                    <div class="input-group mb-3">
                                        <input name="searchString" type="text" class="form-control" placeholder="Protein Name" aria-label="Protein Name" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a> -->
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2><span>Kinase Activity Analysis</span></h2>
                        <p>Find level of activity of each human kinase using your own experimental datasets.</p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile">
                                      <label class="custom-file-label text-left" for="inputGroupFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                      <!-- <button class="btn btn-outline-secondary" type="button">Upload</button> -->
                                      <a class="btn btn-outline-secondary" href="{{ url_for('kActivityAnalysis') }}" role="button">Upload</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Start here</a> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../static/img/Tyrosine_kinase.gif" alt="3D view of Tyrosine_kinase">
        </div>
        <div class="col-4">
            <img src="../static/img/Tyrosine_kinase.gif" alt="3D view of Tyrosine_kinase">
        </div>
        <div class="col-4">
            <img src="../static/img/Tyrosine_kinase.gif" alt="3D view of Tyrosine_kinase">
        </div>
    </div>
</div>

{% endblock %}