{% extends "base.html" %}


{% block content %}
<div class="container">
    <h2>Showing matched results for '{{search}}'</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            {% for th in header %}
            <th scope="col">{{th}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{ url_for('protein') }}">{{row[0]}}</a></td>
            <td>{{row[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
</div>
{% endblock %}