{% extends "base.html" %}

{% block content %}
    <p>
        <span> 
            Phosphorolation and Kinase Inhibitors is designed to alow user friendly search of phosphosites, kinases, inhibitors and substrates.
        </span>
    </p>
    <p>
        <span> 
        Phosphorolation and Kinase Inhibitors is a fast and user-friendly interface that allows the user to search Kinases, associated Inhibitors, and Kinase phosphorylation sites. 
        Phosphorolation and Kinase Inhibitors was developed by Kinview company, with the cooporation of four MSc Bioinformatics students at the Queen Mary University of London. 
        This was achieved under the supervision of Professor Conrad Bessant and Dr Fabrizio Smeraldi.
        </span> 
    </p>
        All search features are linked to a curated database with information on Kinases and inhibitors and all known phosphorylation site for each kinase (including substrate location and 
        site of modified residue).

        A key interactable feature is the upload tool, this allows the user to upload Phosphoproteomic data in .tsv format, and then visualise the analysis of the data. 
        The output is divided into three components; a total summary represented as a volcano plot of phosphorylation sites and the Kinases known to phosphorylate at the given modified 
        residue, a filtered Kinase only volcano plot and relative kinase activity table that can be downloaded for future use.



    </p>
{% endblock %}