{% extends "base.html" %}

{% block content %}
<div>
    <button style="float: right;" id="btnExport" type="button" onclick="CreatePDFfromHTML('kinase-analysis-report')" class="btn btn-outline-primary">
        Export
    </button>
    <div class='html-content'>
        <h2>Data analysis of inhibitor {{name}}</h2>

        <h2>Volcano plot: </h2>

        {{ div2| safe }}
        {{ script2 | safe}}

        <h2>Kinase activity: </h2>

        {{div|safe}}
        {{ script|safe }}

        <table class="table table-hover">
            <tr>
                <th>Kinase</th>
                <th>Z-score</th>
                <th>p-value</th>
            </tr>
            <tbody>
                {% for index, row in kinase_table.iterrows() %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2> Substrates with no matched kinases: {{amount}}</h2>
        <h2>SIGNIFICANT KINASE ACTIVITY (p-value less than 0.05) </h2>
        {{div1|safe}}
        {{script1|safe }}

    </div>
</div>
{% endblock %}
