{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#background" role="tab" data-toggle="tab">
                Background
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#phosphosites" role="tab" data-toggle="tab">
                Phosphosites
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sequence" role="tab" data-toggle="tab">
                Sequence
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="background">
            <div class="card">
                <div class="card-header">
                    <h3>Background Info for '{{searchString}}'</h3>
                </div>
                <div class="card-body">
                    <!-- Replace the text with actual description -->
                    <p>Showing the substrates specifications
                        An enzyme will only work on one substrate - it is substrate specific. 
                        Enzymes and substrates collide to form enzyme-substrate complexes. 
                        kinase is an enzyme that catalyzes the transfer of phosphate groups from high-energy, phosphate-donating molecules 
                        to specific substrates. This process is known as phosphorylation. 
                        This is where the substrate gains a phosphate group and the high-energy ATP molecule donates a phosphate group.
                        
                    </p>
                    <div class="card">
                        <div class="card-body">
                            <table id="background-characteristic" class="table table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th scope="col">{{hcharacteristics[1]}}</th>
                                        <th scope="col">{{hcharacteristics[2]}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in dcharacteristics %}
                                    <tr>
                                        <!-- <td>{{loop.index}}</td> -->
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr style="border: solid; border-radius: 4px; border-color: rgb(80, 80, 80);">
                    <div class="card">
                        <div class="card-body">
                            <table id="background-searchProtein" class="table table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th scope="col">{{hsearchProtein[2]}}</th>
                                        <th scope="col">{{hsearchProtein[3]}}</th>
                                        <th scope="col">{{hsearchProtein[4]}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in dsearchProtein %}
                                    <tr>
                                        <!-- <td>{{loop.index}}</td> -->
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="phosphosites">
            <div class="card">
                <div class="card-header">
                    <h3>Targets Info for '{{searchString}}'</h3>
                </div>
                <div class="card-body">
                    <p>
                        Phosphosites are sites responsible for, or associated with, phosphorylation.
                    </p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">{{htargets[0]}}</th>
                                <th scope="col">{{htargets[2]}}</th>
                                <th scope="col">{{htargets[3]}}</th>
                                <th scope="col">{{htargets[4]}}</th>
                                <th scope="col">{{htargets[5]}}</th>
                                <th scope="col">{{htargets[6]}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in dtargets %}
                            <tr>
                                <!-- <td>{{loop.index}}</td> -->
                                <td>{{row[0]}}</td>
                                <td>{{row[2]}}</td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
                                <td>{{row[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sequence">
            <div class="card">
                <div class="card-header">
                    <h3>Sequence Info for '{{searchString}}'</h3>
                </div>
                <div class="card-body">
                    <!-- Replace the text with actual description -->
                    <p>
                        Here shows the full sequence associated with that substrate.  
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary" data-toggle="collapse" href="#proteinSequence"
                            role="button" aria-expanded="false" aria-controls="ProteinSequence">
                            {{hsequence[2]}}
                        </a>
                        <button style="float: right;" id="btnExport" type="button" onclick="CreatePDFfromHTML('sequence-data')" class="btn btn-outline-primary">
                            Export
                        </button>
                    </p>
                    <div class="collapse  html-content" id="proteinSequence">
                        <div class="container">
                            <div class="row">
                                <h5>Protein sequence - {{searchString}} </h5>
                            </div>
                            <div class="row">
                                <div class="card card-body" style="max-height: 200px;overflow: auto;">
                                    {{dsequence[0][2]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}