{% extends "base.html" %}

{% block content %}
<p>
    <span><b>Mehrsa Jafarpour</b> </span>
    <br>
    <span>General website functionality coodinator</span>
    <br>
    <span>m.jafarpour@se19.qmul.ac.uk</span>
    <br>
    <span>contact: tel 07908287931</span>
</p>

<p><span> <b>Pedro Eduardo Moreno Cardoso</b></span>
    <br>
    <span>Website data schema design</span>
    <br>
    <span>p.e.morenocardoso@se19.qmul.ac.uk</span>
</p>
<p><span> <b>Yuting Shu</b></span>
    <br>
    <span>Inhibitor search results</span>
    <br>
    <span>y.shu@hss18.qmul.ac.uk</span>
</p>
<p><span> <b>Arslan Hussaini</b></span>
    <br>
    <span>Data shown in search</span>
    <br>
    <span>a.hussaini@se15.qmul.ac.uk</span>
</p>
<p>
    

</p>
{% endblock %}