{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#background"
                          role="tab" data-toggle="tab">
            Background
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#domains"
                          role="tab" data-toggle="tab">
            Domains
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#phosphosites"
                          role="tab" data-toggle="tab">
            Phosphosites
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#targets"
                          role="tab" data-toggle="tab">
            Targets
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sequence"
                          role="tab" data-toggle="tab">
              Sequence
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#inhibitor"
                          role="tab" data-toggle="tab">
              Inhibitor
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#export"
                          role="tab" data-toggle="tab">
              Export
            </a>
        </li> -->
    </ul>

    <!-- Tab panels -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="background">
        <div class="card">
          <div class="card-header">
            <h3>Background Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <p>General information about this kinase. Kinase, an enzyme that adds phosphate groups (PO43−) to other molecules. 
              Protein kinases move a phosphate group onto proteins, in a process called phosphorylation. 
              Included among these enzymes’ targets for phosphate group addition (phosphorylation) are proteins, lipids, and nucleic acids.
            </p>
            <div class="card">
              <div class="card-body">
                <table id="background-characteristic" class="table table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">#</th> -->
                      <th scope="col">{{hcharacteristics[1]}}</th>
                      <th scope="col">{{hcharacteristics[2]}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in dcharacteristics %}
                    <tr>
                      <!-- <td>{{loop.index}}</td> -->
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <hr style="border: solid; border-radius: 4px; border-color: rgb(80, 80, 80);">
            <div class="card">
              <div class="card-body">
                <table id="background-searchProtein" class="table table-hover">
                  <thead>
                    <tr>
                      <!-- <th scope="col">#</th> -->
                      <th scope="col">{{hsearchProtein[2]}}</th>
                      <th scope="col">{{hsearchProtein[3]}}</th>
                      <th scope="col">{{hsearchProtein[4]}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in dsearchProtein %}
                    <tr>
                      <!-- <td>{{loop.index}}</td> -->
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="domains">
        <div class="card">
          <div class="card-header">
            <h3>Domains Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <!-- Replace the text with actual description -->
            <p>
              Showing here the domains associated to this kinase. The protein kinase domain is a structurally conserved protein domain containing the catalytic function of protein kinases. 
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">{{hdomains[1]}}</th>
                  <th scope="col">{{hdomains[2]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in ddomains %}
                <tr>
                  <!-- <td>{{loop.index}}</td> -->
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="phosphosites">
        <div class="card">
          <div class="card-header">
            <h3>Targets Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <!-- Replaced the text with actual description -->
            <p>Showing here the phosphosites associated to this kinase. 
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">{{htargets[0]}}</th>
                  <th scope="col">{{htargets[2]}}</th>
                  <th scope="col">{{htargets[3]}}</th>
                  <th scope="col">{{htargets[4]}}</th>
                  <th scope="col">{{htargets[5]}}</th>
                  <th scope="col">{{htargets[6]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in dtargets %}
                <tr>
                  <!-- <td>{{loop.index}}</td> -->
                  <td>{{row[0]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                  <td>{{row[6]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="container">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="targets">
        <div class="card">
          <div class="card-header">
            <h3>Target Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <!-- Replaced the text with actual description -->
            <p>Showing results for the target site of this kinase.
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">{{htargetsKAccess[1]}}</th>
                  <th scope="col">{{htargetsKAccess[2]}}</th>
                  <th scope="col">{{htargetsKAccess[3]}}</th>
                  <th scope="col">{{htargetsKAccess[4]}}</th>
                  <th scope="col">{{htargetsKAccess[5]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in dtargetsKAccess %}
                <tr>
                  <!-- <td>{{loop.index}}</td> -->
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sequence">
        <div class="card">
          <div class="card-header">
            <h3>Sequence Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <!-- Replaced the text with actual description -->
            <p>Showing the protein sequence of this this kinase.
            </p>
            <p>
              <!-- <a class="btn btn-outline-secondary" data-toggle="collapse" href="#dnaSequence" role="button" aria-expanded="false" aria-controls="DNASequence">
                {{hsequence[1]}}
              </a> -->
              <a class="btn btn-outline-secondary" data-toggle="collapse" href="#proteinSequence" role="button" aria-expanded="false" aria-controls="ProteinSequence">
                {{hsequence[2]}}
              </a>
              <!-- <a class="btn btn-outline-secondary" data-toggle="collapse" href="#rnaSequence" role="button" aria-expanded="false" aria-controls="RNASequence">
                {{hsequence[3]}}
              </a> -->
              <button style="float: right;" id="btnExport" type="button" onclick="CreatePDFfromHTML('sequence-data')" class="btn btn-outline-primary">
                Export
              </button>
            </p>
            <div class="collapse" id="dnaSequence">
              <div class="container">
                <div class="row">
                  <h5>DNA sequence - {{searchString}} </h5>
                </div>
                <div class="row">
                  <div class="card card-body" style="max-height: 200px;overflow: auto;">
                    {{dsequence[0][1]}}
                  </div>
                </div>
                <div class="row" style="float: right; padding-top: 20px;">
                  <button type="button" class="btn btn-outline-primary">Export</button>
                </div>
              </div>
            </div>
            <div class="collapse html-content" id="proteinSequence">
              <div class="container">
                <div class="row">
                  <h5>Protein sequence - {{searchString}} </h5>
                </div>
                <div class="row">
                  <div class="card card-body" style="max-height: 200px;overflow: auto;">
                    {{dsequence[0][2]}}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="collapse" id="rnaSequence">
              <div class="card card-body" style="max-height: 200px;overflow: auto;">
                {{dsequence[0][3]}}
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="inhibitor">
        <div class="card">
          <div class="card-header">
            <h3>Inhibitor Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <!-- Replaced the text with actual description -->
            <p>Showing inhibitors associated with this kinase. 
              Please sellect for further inhibitor details.
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">{{hinhibitor[0]}}</th>
                  <th scope="col">{{hinhibitor[1]}}</th>
                  <th scope="col">{{hinhibitor[4]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in dinhibitor %}
                <tr>
                  <!-- <td>{{loop.index}}</td> -->
                  <td>{{row[0]}}</td>
                  <td><a href="{{ url_for('inhibitorDetails') }}?searchInhibitor={{row[1]}}">{{row[1]}}</a></td>
                  <td>{{row[4]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div role="tabpanel" class="tab-pane fade" id="export">
        <div class="card">
          <div class="card-header">
            <h3>Export Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div> -->
    </div>
</div>
{% endblock %}