{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#background"
                          role="tab" data-toggle="tab">
            Background
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#domains"
                          role="tab" data-toggle="tab">
            Domains
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#targets"
                          role="tab" data-toggle="tab">
            Targets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#structure"
                          role="tab" data-toggle="tab">
            Structure
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sequence"
                          role="tab" data-toggle="tab">
              Sequence
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#inhibitor"
                          role="tab" data-toggle="tab">
              Inhibitor
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#export"
                          role="tab" data-toggle="tab">
              Export
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="background">
        <div class="card">
          <div class="card-header">
            <h3>Background Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{hcharacteristics[1]}}</th>
                  <th scope="col">{{hcharacteristics[2]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in dcharacteristics %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="domains">
        <div class="card">
          <div class="card-header">
            <h3>Domains Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{hdomains[1]}}</th>
                  <th scope="col">{{hdomains[2]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in ddomains %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="targets">
        <div class="card">
          <div class="card-header">
            <h3>Targets Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{htargets[2]}}</th>
                  <th scope="col">{{htargets[3]}}</th>
                  <th scope="col">{{htargets[4]}}</th>
                  <th scope="col">{{htargets[5]}}</th>
                  <th scope="col">{{htargets[6]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in dtargets %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                  <td>{{row[6]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="container">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="structure">
        <div class="card">
          <div class="card-header">
            <h3>Structure Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sequence">
        <div class="card">
          <div class="card-header">
            <h3>Sequence Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="inhibitor">
        <div class="card">
          <div class="card-header">
            <h3>Inhibitor Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="export">
        <div class="card">
          <div class="card-header">
            <h3>Export Info for '{{searchString}}'</h3>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}